build-img-Desktop_Qt_5_7_0_clang_64bit-Debug/
build-img-Desktop_Qt_5_7_0_clang_64bit-Release/
build-CourseSecondProc-Desktop_Qt_5_7_0_clang_64bit-Debug/
build-CourseSecondProc-Desktop_Qt_5_7_0_clang_64bit-Release/
img/img.pro.user